#logo {
    width: 150px;
    height: auto;
    filter: brightness(0) invert(1);
    background-color: #fff;
}


body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

#header {
    background-color: #007bff;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

#logo {
    width: 150px;
    height: auto;
    filter: brightness(1.2) contrast(0.8) drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
}

h1 {
    margin-top: 160px; /* Increased margin for better spacing */
    color: #333;
}

#inputImage {
    margin-top: 20px;
    display: none;
}

.captureButton {
    font-size: medium;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.captureButton:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

#result {
    font-weight: bold;
    margin-top: 20px;
    color: #333;
    font-size: 18px;
}

.hide {
    display: none;
}

#video {
    display: none;
    margin-top: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 40%; /* Adjust the width as needed */
    margin: auto auto; /* Centers the video horizontally */
}

#canvas {
    display: none;
}

#inputImagei {
    margin-top: 20px;
}

#capturedImageProcess {
    width: 15%;
    height: 15%;
    margin: auto !important;;
}

#classifyButton2{
    position: relative;
    top:0;
    left: auto;
}


/* #photoResultContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

#photoResultContainer>div {
    margin: 10px;
    flex: 1;
    max-width: 300px;
    text-align: center;
}

#photoResultContainer img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

#imagePreview img {
    width: 30%; /* Adjust the width as needed */
    margin: 0 auto!important; /* Centers the video horizontally */
}

